<div id="content">

   <div class="splash splash-custom yui3-g-r splashimage">
      <div class="yui3-u-1"> 
         <h1 class="splash-head high-contrast">Welcome.</h1>
      </div>
   </div>
   
   <div class="pure-g-r">
      <div class="pure-u-1-2 big-text">
         <p>
            In order to get started, you'll need to authorize the app with GitHub
            &mdash; just click the button below and follow
            the instructions that GitHub provides.
         </p>
         <a class="pure-button" href="/auth/github/">Go!</a>
      </div>
   </div>

</div>
