<div id="content">

   <div class="splash splash-custom yui3-g-r splashimage">
      <div class="yui3-u-1"> 
         <h1 class="splash-head">Sign in</h1>
         <br>
         <a class="pure-button" href="/auth/github/">GitHub</a>
      </div>
   </div>

</div>
