<div class="pure-menu pure-menu-open pure-menu-horizontal" id="menu">
   <ul>
      <li class="pure-menu-selected"><a href="/">DASH</a></li>
      <li><a href="/refresh">REFRESH</a></li>
      <li><%= count %> PULLS</li>
   </ul>
</div>
