<div class="pure-menu pure-menu-open pure-menu-horizontal" id="menu">
   <ul>
      <li class="pure-menu-selected"><a href="/">DASH</a></li>
      <li><a href="?filter=cr">CR</a></li>
      <li><a href="?filter=qa">QA</a></li>
      <li><a href="?filter=ready">READY</a></li>
   </ul>
</div>
