<div id="content" class="pure-g">
   <div class="pure-u-1-2 pulls">
      <h2> </h2>
      <% for(var i=0; i<14 /*pulls.length*/; i++) { %>
         <div class="pull">
            <span><a href=''><%= "Pull title!"/*pulls[i].name*/ %></a></span>
            <ul class="inline-list">
               <li>
                  <strong>CR:</strong> 3
               </li>
               <li>
                  <strong>QA:</strong> 1
               </li>
               <li>
                  <strong>CI:</strong> PASS
               </li>
            </ul>
         </div>
      <% } %>
   </div>
</div>

