body {
   font-family:'Roboto';
   font-weight:300;
}
a {
   color: #84B9D5;
}

#content {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

#menu {
   background-color: #84B9D5;
   font-size: 1.25em;
}

.pulls {
}
.pull {
   border-bottom: 1px solid #84B9D5;
   margin: 2px;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
.pull span {
   font-size: 1.125em;
}
.inline-list li {
   font-size: .75em;
   display: inline;
   list-style-type: none;
   padding-right: 20px;
}
.splashimage {
   background: url('https://d17kynu4zpq5hy.cloudfront.net/igi/overlord/25uhbFFqeFqwbsdH.large') no-repeat 0% 40%;
   background-size: 100%;
}
.big-text {
   font-size: 1.25em;
}
.high-contrast {
   color: white;
}
.good {
   color: green;
}
.bad {
   color: red;
}
